@keyframes pisca{
    0%{
        opacity:0.2;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0.2;
    }
}
* {
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.aviso-grande{
    font-size: 2em;
    color: #000;
    text-align: center;
    margin-top: 10px;
    animation: pisca 1s infinite;
}
.urna{
    display: flex;
    background-color: #dbd5c9;
    padding: 30px;
}
.tela{
    width: 450px;
    height: 320px;
    background: linear-gradient(to right,#e8e8e8,#c1c1c1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.teclado{
    background-color: #403a3a;
    margin-left: 30px;
}
.botao-linha{
    font-size: 18px;
    margin: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.botao{
    background-color: #030303;
    color: white;
    margin-right: 15px;
    padding: 10px 30px;
    box-shadow: 2px 2px 0px rgba(150,150,150,0.8 );
    cursor: pointer;
}
.botao.branco{
    background-color: #fff;
    color: #888;
    padding-left: 10px;
    padding-right: 10px;
}
.botao.corrige{
    background-color: #be3a0a;
    color: #888;
    padding-left: 10px;
    padding-right: 10px;
}
.botao.confirma{
    background-color: #098105;
    color: #888;
    height: 60px;
    display: flex;
    align-items:center;
    padding-left: 10px;
    padding-right: 10px;
}


.d-1{
    flex: 1;
    display: flex;
}

.informaçao{
    flex: 1;
    display: flex;
    flex-direction:column;
}
.linha-1,
.linha-2,
.linha-3 {
    height: 50px;
    display:flex;
    align-items:center;
}
.numero {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.linha-2{
    justify-content: center;
}
.linha-4 {
    flex: 1;
    line-height: 30px;
}
.foto {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.d-1-foto{
   border: 1px solid #000;
   background-color: #fff;
   text-align: center;
   font-size: 16px;
   width: 100%;
}
.d-1-foto img{
    width: 100%;
}
.d-1-foto.small{
    width: 80%;
   font-size: 10px;
}

.d-2{
    height:50px;
    font-size: 14px;
    border-top: 1px solid #000;
}